@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

*,*:before,*:after{
	box-sizing:border-box;
	position:relative;
}
html,body{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width:100%;
	overflow: auto;
}
@media(max-width:640px){
	body{
		overflow: hidden;
	}
}
#inicio{
	width: 100%;
	height:100vh;	
	display:flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
#inicio nav{
	z-index: 1;
	width:100%;
	position: fixed;
	top:0;
	display: flex;
	justify-content: center;
	align-items: center;		
}

#inicio nav ul{
	display: flex;
	justify-content: center;
	list-style: none;
	padding-left: 0;
}
#inicio nav ul a {
	text-decoration: none;
	margin: 0 2.5%;
	width: 150px;
}
@media(max-width: 640px){
	#inicio nav ul a{
		width: auto;
	}	
}
#inicio nav ul a li{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 0.94em;
	font-style: normal;
	text-align: center;
	line-height: 0.8em;
	color: #00416d;
	border: solid 1px #888;
	border-radius: 20px;
	background: #fff;
	padding: 5px 0;
	width: 100%;
}
@media (max-width: 640px){
	#inicio nav ul a li{
		padding: 10px;
		font-size: 1.3em;
	}
}
#inicio img{
	width:50%;	
	margin-top: 100px;
}
@media (max-width:640px){
	#inicio img{
		width: 100%;
	}
}
#inicio p{
	position:absolute;
	top:221px;
	right: 15%;
	width: 250px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color:#95989a;
	font-style:normal;
	text-align:left;
	line-height:0.8em;
	letter-spacing:0em;
}
@media (max-width: 640px){
	#inicio p{
		position: static;
	}
}
#sobre{
	min-height: 100vh;
	width: 100%;
	background: url("Assets/fundo-sobre.jpg") no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
@media (max-width: 640px) {
	#sobre {
		height: auto;
		justify-content: center;
		align-items: center;
	}
}
#sobre div{
	width:40%;
	background: #fff;
	margin-top: 75px;
	margin-right: 50px;
	margin-bottom: 20px;
	padding: 25px;
	border-radius: 5px;
}
@media (max-width: 640px) {
	#sobre div{
		margin: 20px auto;
		margin-top: 75px;
		width: 82%;
	}
}
#sobre div h2 {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size:1.88em;
	color:#95989a;
	font-style:normal;
	text-align:left;
	line-height:1.68em;
	letter-spacing: 0em;
}
@media (max-width: 640px) {
	#sobre div h2 {
		padding: 0;
		margin: 0;
		font-size:20px;
	}
}
#sobre div p{
	margin: 0;
	margin-top: 7px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:0.9em;
	color:#95989a;
	font-style:normal;
	text-align:left;
	line-height:1.2em;
	letter-spacing:0em;
}
@media (max-width: 640px){
	#sobre div p{
		font-size: 0.9em;
	}
}
#acoes {
	min-height:200vh; 
	width: 100%;
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-content: flex-start;
}

#acoes h2{
	width:100%;
	margin: 0;
	margin-top: 60px;
	margin-left: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
	font-size:1.88em;
	color:#95989a;
	font-style:normal;
	text-align:left;
	line-height:1.68em;
	letter-spacing: 0em;
}
#acoes div{
	width:35%;
	max-height: 100vh;
	margin:3% 4%;
	/*background:blue;*/
}
#acoes div h3{
	/*width:100%;*/
}

#acoes div p {
	margin-top: 7px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:0.9em;
	color:#95989a;
	font-style:normal;
	text-align:left;
	line-height:1.2em;
	letter-spacing:0em;
}
@media(max-width:640px){
	#acoes div p {
		width:40px; 

	}
}
#acoes div img{
	width:100%;
}

#acoes div h3{
	margin-left: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:700;
	font-size:1.
	font-size: 1.00em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}

#acoes .primeira-div-acoes{
	width: 100%;
	margin: 0;
	display: flex;
	flex-flow: column wrap;
}
#acoes .primeira-div-acoes p{
	width: 30%;
	margin: 0;
	margin-left: 40px;
	margin-top: 7px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:0.9em;
	color:#95989a;
	font-style:normal;
	text-align:left;
	line-height:1.2em;
	letter-spacing:0em;
	
}
#acoes .primeira-div-acoes video{
	width:60%;
	/*height: 400px;*/
}

#contato{ 
	height: 100vh;
	width: 100%;
	background: url(Assets/image-footer.jpg) no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
 }
 #contato div{		
 	background: #fff;
 	width: 35%;
 	height: 45%;
 	border-radius: 20px;
 	margin: 3%;
 	padding: 47px;
 	/*display: flex;
 	flex-direction: column;
 	align-items: flex-start;*/

 }
 #contato div h2{
 	font-family: 'Source Sans Pro', sans-serif;
 	font-weight: 700;
 	font-size: 1.88em;
 	color: #95989a;
 	font-style: normal;
 	text-align: left;
 	line-height: 1.61em;
 	letter-spacing: 0em;
 	margin: 0;
 }
#contato div p{
 	font-family: 'Source Sans Pro', sans-serif;
 	font-weight: 400;
 	font-size: 1.25em;
 	color: #95989a;
 	font-style: normal;
 	text-align: left;
 	line-height: 1.07em;
 	letter-spacing: 0em;
 	margin: 0;
 }
#contato div .social-doe{
 	width: 100%;
 	height: 70%;
 	margin: 0
 	margin-top: 1px;
 	padding: 0;
 	display: flex;
 	flex-flow: column wrap;
 	justify-content: flex-end;
 	align-items: flex-start;
 	/*background: red;*/
 }
#contato div .social-doe img{
 	height: 40%;
 	margin: 1%;

 }
#contato div .social-doe ul{
 	list-style: none;
 	padding: 0;
 	margin:0;
 }
#contato div .social-doe ul li{
 	font-family: 'Source Sans Pro', sans-serif;
 	font-weight: 400;
 	font-size: 1.25em;
 	color:#95989a;
 	font-style: normal;
 	text-align: left;
 	line-height: 1.07em;
 	letter-spacing: 0;
 	/*background: red;*/
 	padding-bottom: 
 }
